<div class="order">
        <span class="order-time">21.Oct 2017 16:15</span>
        <span class="order-name">Chicken doner, 24 cm</span>
        <span class="order-status">Delivered</span>
        <a href="order-details.html" class="button order-button">Details</a>
    </div>