{{> header}}

<section id="viewLogin">
    <h2>Login to your account:</h2>
    <form action="#/login" method="post" id="formLogin">
        <label>Username:</label>
        <input type="text" name="username-login" id="username-login" placeholder="Enter your Email" value="guest">
        <label>Password:</label>
        <input type="password" name="password-login" id="password-login" placeholder="Enter your Password" value="1234">
        <input type="submit" class="login" value="Login">
    </form>
</section>

{{> footer}}