<!DOCTYPE html>
<html>

<head>
    <title>My book library</title>
    <link rel="stylesheet" href="/site.css">
</head>

<body>
    <header class="menu">
        <ul>
            <li>
                <a href="/">Home |</a>
            </li>
            <li>
                <a href="/viewAll">View All Books |</a>
            </li>
            <li>
                <a href="/addBook">Add Book</a>
            </li>
        </ul>
    </header>

    <div class="container">
        {{{body}}}
    </div>


    <footer>
        &copy; 2018
    </footer>
</body>

</html>