.php {
	background:#CCC;
	border-radius: 5px;
	border:1px #AAA;
	padding:5px;
}

.js {
	background:#CCC;
	border-radius: 5px;
	border:1px #AAA;
	padding:5px;
}

.csharp {
	background:#CCC;
	border-radius: 5px;
	border:1px #AAA;
	padding:5px;
}

.java {
	background:#CCC;
	border-radius: 5px;
	border:1px #AAA;
	padding:5px;
}