<form action="/users/login" method="POST">
  Username
  <input type="text" name="username" value="pesho"/>
  <br />
  Password
  <input type="password" name="password" value="123"/>
  <br />
  <input type="submit" value="Login" />
</form>