{{> header}}

<section id="viewRegister">
    <h2>Create your account:</h2>
    <form action="#/register" method="post" id="formRegister">
        <label>Username:</label>
        <input type="text" name="username-register" id="username-register" placeholder="Username" >
        <label>Password:</label>
        <input type="password" name="password-register" id="password-register" placeholder="Password">
        <label>Repeat Password:</label>
        <input type="password" name="password-register-check" id="password-register-check" placeholder="Repeat Password">
        <input type="submit" class="register" value="Register">
    </form>
</section>

{{> footer}}